h1{
    color: darkmagenta;
    display: flex;
    justify-content: center;
}
img{
    width: 400px;
}
div{
    max-width: 600px;
    margin: 0 auto;
}
#thirdDiv{
    height: 600px;
    max-width: 500px;
    background-color: darkolivegreen;
    padding: 50px;
    border: 10px dotted darkgoldenrod;
}
#spanId{
    font-size: 18px;
    text-align: center;
    display: block;
}

.centrar{
    display: flex;
    justify-content: center;
}

a{
    margin-bottom: 5px;
}
